<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header',{ title: 'Books - Formats'}) %>
  </head>
  <body>
    <%- include('../navbar') %>
    <!-- Adjust the path to your navbar partial -->

    <div class="container mt-4">
      <h2 class="mb-3">Add New Format</h2>
      <form action="/formats" method="post">
        <div class="form-group">
          <label for="name">Format Name:</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Add Format</button>
      </form>
    </div>

    <%- include('../partials/footer') %>
  </body>
</html>
