<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Tracking Application</title>
    <!-- Bootstrap CSS CDN -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <!-- Additional CSS if needed -->
  </head>
  <body>
    <%- include('navbar') %>
    <!-- Include the navbar partial -->

    <div class="container mt-4">
      <header class="jumbotron">
        <h1 class="display-4">Welcome to BookTracker!</h1>
        <p class="lead">Your personal library management system.</p>
        <hr class="my-4" />
        <p>
          Track, organize, and discover your favorite books, authors, and
          series.
        </p>
        <a class="btn btn-primary btn-lg" href="books" role="button"
          >Explore Books</a
        >
      </header>
    </div>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
