<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Narrator - Book Tracker</title>
    <!-- Bootstrap CSS CDN -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <%- include('../navbar') %>
    <!-- Adjust the path to your navbar partial -->

    <div class="container mt-4">
      <h2 class="mb-3">Add New Narrator</h2>
      <form action="/narrators" method="post">
        <div class="form-group">
          <label for="name">Name:</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            required
          />
        </div>
        <div class="form-group">
          <label for="bio">Bio:</label>
          <textarea class="form-control" id="bio" name="bio"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add Narrator</button>
      </form>
    </div>

    <%- include('../partials/footer') %>
  </body>
</html>
